{% extends "capacity/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.admin_id|as_crispy_field}}
    {{form.admin_name|as_crispy_field}}
    {{form.entry_check|as_crispy_field}}
    {{form.exit_check|as_crispy_field}}
    {{form.retail_ready|as_crispy_field}}
    {{form.calender_week|as_crispy_field}}   
    {{form.year|as_crispy_field}}  
     
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'entry_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}