{% extends "capacity/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Admin ID</td>
            <td>Admin Name</td>
            <td>Calender Week</td>
            <td>Year</td>
            <td>Entry Check</td>
            <td>Exit Check</td>
            <td>Retail Ready</td>
            <td>
                <a href="{% url 'entry_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for entry in entry_list %}
            <tr>
                <td>{{entry.admin_id}}</td>
                <td>{{entry.admin_name}}</td>
                <td>{{entry.calender_week}}</td>
                <td>{{entry.year}}</td>
                <td>{{entry.entry_check}}</td>
                <td>{{entry.exit_check}}</td>
                <td>{{entry.retail_ready}}</td>
                <td>
                    <a href="{% url 'entry_update' entry.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'entry_delete' entry.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}